/* CSS for the ClientCard */
.client-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Initial shadow */
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: #ffffff; /* Initial background color */
    border-radius: 0.75rem; /* Equivalent to rounded-xl */
    padding: 1.5rem; /* Equivalent to p-6 */
    border: 5px solid rgb(188, 188, 188);
  }
  
  .client-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow on hover */
    background-color: #393939; /* Change background color on hover */
    cursor: pointer;
    color: white;
  }

.action-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.action-button:focus {
    outline: none; /* Remove focus outline */
}

  